.card {
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-image {
    border: 1px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cardimg{
    display: block;
    max-height: 100%;
    max-width: 150%;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .card-text {
    font-size: 14px;
    margin-bottom: 5px;
  }
  