:root {
  --primary-color: #f50000;
  --secondary-color: #ff3000;
  --tertiary-color: #ffffff;
  overflow-x: hidden;
}

nav {
  background-color: rgba(0, 0, 0, 0.505);
  color: var(--primary-color);
  font-size: 1.3rem;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 1rem 3%;
  z-index: 100;
  backdrop-filter: blur(3px);
}

nav p {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  animation: fadeIn 0.3s ease-in-out;
}

nav .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

nav .nav-links .menu-buttons {
  font-size: smaller;
  text-decoration: none;
  color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

nav .nav-links .menu-buttons:hover {
  background: var(--secondary-color);
  color: var(--tertiary-color);
  transform: scale(1.1);
}

nav .nav-links .menu-buttons.active {
  background: var(--secondary-color);
  color: var(--tertiary-color);
}

nav .nav-items .menu-links {
  text-decoration: none;
  margin-left: 5px;
  color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

nav .nav-items .menu-links.active {
  background: var(--secondary-color);
  color: var(--tertiary-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
#wishlist-icon {
  text-decoration: none;
  color: red;
}
#profile-link {
  text-decoration: none;
  color: white;
}

.css-ebtisj-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
  background-color: rgba(39, 39, 39, 0.662);
  color: #ffffff;
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: none;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
  max-height: calc(100% - 96px);
  -webkit-overflow-scrolling: touch;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 16px;
  min-height: 16px;
  max-width: calc(100% - 32px);
  max-height: calc(100% - 32px);
  outline: 0;
  overflow: visible;
  -webkit-filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.32));
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.32));
  margin-top: 12px;
  backdrop-filter: blur(5px);
}

.css-1vahq48-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
  background-color: rgba(39, 39, 39, 0.662);
  color: #ffffff;
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: none;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
  max-height: calc(100% - 96px);
  -webkit-overflow-scrolling: touch;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 16px;
  min-height: 16px;
  max-width: calc(100% - 32px);
  max-height: calc(100% - 32px);
  outline: 0;
  overflow: visible;
  -webkit-filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.32));
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.32));
  margin-top: 12px;
  width: 400px;
  backdrop-filter: blur(5px);
}
