#homeBanner > .home-image {
  position: absolute;
  right: 0;
  width: 70%;
  height: 130%;
}

.home-text > .quote {
  margin-top: 10%;
  width: 50%;
  position: absolute;
  top: 0;
  color: #ffffff;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 4vw;
  padding: 2vw;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.7px white;
}

.quote {
  margin-top: 10%;
  width: 50%;
  position: absolute;
  top: 0;
  color: #ffffff;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 4.5vw;
  padding: 2vw;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.3px white;
}

.home-title {
  position: absolute;
  top: -10;
  left: 2%;
  color: #ff3000;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 4.5vw;
}
