html,body,#root,.main{
    background-color: #f8f9fb;
    width: 100%;
    height: 100%;
}
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image{
    width: 100vh;
    height: 100vh;
    background-image: url(../../../public/Images/login.png);
    background-position: center;
    background-repeat: no-repeat;
    color: #f50000;
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
}
.form-container{
    display: flex;
    flex-direction: row;    
    margin-right: 10vh;
    width: 100vh;
    height:60vh;
    z-index: 20;
    background-color:white;
    border-width:1px;
    border-style: solid;
    border-radius: 10px;
    border-color: #f50000;
    justify-content: space-around;
    padding-top: 40px;
    box-shadow: 0 0 10px 0 #f500005a;
}
.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}