.menu{
    margin-top: 150px;
}
.menu2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 50vh;
    margin-left: 100px;
}

.MuiButton-contained{
    width: 200px;
}